// Стили для внешних блоков карточки Заявка на командировку
.dv-card-layout {
    background: #e6f3ff !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1), 0px 4px 12px rgba(0, 0, 0, 0.08) !important;
    border-radius: 8px !important;
    margin: 0 0 12px 0 !important;
    background-color: rgb(234, 248, 255) !important;
    padding-bottom: 20px !important;
    margin-right: 1% !important;
}

